@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

section {
  font-family: 'Jost';
}

/* Main container for the custom banner */
.custom-banner {
  background-color: #f5f5f5;
  padding: 10px 0;
}

/* Container that holds content */
.banner-header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}

/* Logo */
.logo {
  padding: 0 16px;
}
.logo img {
  width: 151.44px;
  height: 19px;
}

/* Header Text */
.p-banner {
  font-size: 16px;
  color: #000;
  text-align: center;
  flex: 1;
  padding: 0 20px;
  letter-spacing: 0.5px;
}

/* Button Choose Gift */
.btn {
  padding: 0;
}
.button {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 4px 24px;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}
#choose-gift {
  background-color: #fff544;

  background: linear-gradient(to right, black 50%, #fff544 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
#choose-gift:hover {
  background-position: left bottom;
}
.btn_choose-gift a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.6s ease-out;
}
.btn_choose-gift a:hover {
  color: white;
}
.btn_choose-gift a .arrow-icon {
  color: #000000;
}
.btn_choose-gift a:hover .arrow-icon {
  color: white;
}
#choose-gift {
  margin: 0 10px;
}
#choose-gift::before,
#choose-gift::after {
  content: none;
  border: none;
  outline: none;
  display: none;
}

/* Banner Image Section */
.banner-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  margin: 10px 0;
}
/* First Section of Banner Image */
.banner-image-sec_1 {
  text-align: center;
}
.banner-image-sec_1 img {
  min-width: 100%;
  height: auto;
}

/* Second Section of Banner Image */
.banner-image-sec_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding-left: 50px;
  margin-left: 27px;
}

/* Banner-Image Content */
.banner-image_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  max-width: 50%;
  padding-left: 16px;
}

.banner-image_content h1 {
  font-family: 'Jost';
  font-size: 70px;
  font-weight: 500;
  line-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.banner-image_content p {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Shop-Now Button */
#shop-now {
  background-color: #000;

  background: linear-gradient(to right, #fff544 50%, #000000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
#shop-now:hover {
  background-position: left bottom;
}
.btn_shop-now a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.6s ease-out;
}
.btn_shop-now a:hover {
  color: #000000;
}
.btn_shop-now a .arrow-icon {
  color: white;
}
.btn_shop-now a:hover .arrow-icon {
  color: #000000;
}
#shop-now::before,
#shop-now::after {
  content: none;
  border: none;
  outline: none;
  display: none;
}

/* Bottom Text */
.bottom-txt {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
}
.bottom-txt p {
  color: #000;
  font-family: 'Jost';
  font-weight: 500;
  font-size: 16px;
  line-height: 13.42px;
  text-align: center;
  text-transform: uppercase;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f5f5f5;
  width: 100%;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-icon span{
  font-size: 30px;
  color: #000;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
}

.mobile-view {
  display: none;
}

@media screen and (max-width: 768px) {
  .banner-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .p-banner {
    text-align: left;
    margin-top: 10px;
  }

  .btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .banner-header {
    display: none;
  }

  .mobile-view {
    display: flex;
  }

  .mobile-nav {
    display: flex;
  }

  .logo {
    text-align: left;
  }

}
